[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "grec"]
	path = grec
	url = https://github.com/luislaum/grec
[submodule "imagine"]
	path = imagine
	url = https://github.com/luislaum/imagine
